.quiz-box {
    border: 4px solid #444;
    /* 邊框 */
    border-radius: 8px;
    /* 圓角 */
    padding: 15px;
    margin: 20px 0;
    background-color: #fdf6e3;
    /* 仿考卷紙的淡黃色 */
    font-family: "Times New Roman", serif;
    /* 考卷感 */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    /* 陰影 */
    color: #000;
}

.quiz-box p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.alert {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 1rem;
}

.alert-icon {
    font-size: 1rem;
    margin-right: 10px;
}

.alert-info {
    background-color: #e7f3fe;
    border-left: 5px solid #2196F3;
    color: #0c5460;
}

.alert-tip {
    background-color: #eafaf1;
    border-left: 5px solid #28a745;
    color: #155724;
}

.alert-warning {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    color: #856404;
}

.alert-danger {
    background-color: #f8d7da;
    border-left: 5px solid #dc3545;
    color: #721c24;
}

.bbs2-post-header {
    border: 2px solid #555;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #222;
    color: #ddd;
    font-family: "Courier New", monospace;
    font-size: 1.4rem;
}

.bbs2-post-header-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bbs2-post-label {
    background-color: #0055aa;
    padding: 2px 8px;
}

.bbs2-post-content {
    color: inherit;
    padding: 2px 8px;
}

.bbs2-post-board {
    text-align: right;
    margin-left: auto;
    background-color: green;
    /* 推到右側 */
}