{{ $icons := dict "info" "✏️" "tip" "💡" "warning" "⚠️" "danger" "❌" }}
{{ $type := .Get "type" | default "info" }}
{{ $icon := index $icons $type | default "🛈" }}

<div class="alert alert-{{ $type }}">
    <span class="alert-icon">{{ $icon }}</span>
    <span class="alert-content">{{ .Inner | markdownify }}</span>
</div>